# MCP
fastmcp
langchain-core
langchain-mcp-adapters

# Google APIs
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
google-generativeai  # ← Added for Gemini API

# Email parsing
beautifulsoup4
lxml
html5lib
python-dateutil

# HTTP + env
requests
python-dotenv

#Resume Parsing
pymupdf
pdfplumber
spacy
